!!! 5
%html
  %head
    %title bangkok
    %link{ :rel => "stylesheet", :href => "/css/style.css", :type => "text/css" }
    %link{ :rel => "stylesheet", :href => "/css/facebox.css", :type => "text/css" }
    %script{ :type => "text/javascript", :src => "/js/jquery-1.4.2.min.js" }
    %script{ :type => "text/javascript", :src => "/js/facebox.js" }
    %script{ :type => "text/javascript" }
      jQuery(document).ready(function($) { $('a[rel*=facebox]').facebox() })
  %body.change-list
    %div#container
      %div#header
        %div#admin-title
          Bangkok Database Managment
      %div#breadcrumbs
        %a(href="/db") Databases
        - if @db
          &rsaquo;
          = @db.opts[:database]
        - if @table
          &rsaquo;
          %a(href="#{@table.db_url}")
            = @table.db.opts[:database]
          &rsaquo;
          - if @table.view == 'content'
            = @table
          - elsif @table.view == 'schema'
            %a(href="#{@table.url}")= @table
            &rsaquo;
            schema
          - elsif @table.view == 'edit'
            %a(href="#{@table.url}")= @table
            &rsaquo;
            edit

      - if @table
        %ul.object-tools
          %li
            - if @table.view == 'content'
              %a(href="#{@table.url}/schema" class="viewsitelink")
                schema view
            - if @table.view == 'schema'
              %a(href="#{@table.url}" class="viewsitelink")
                content view
      %br(style="clear:both")
      %div#content
        %div#content-main
          %div#changelist.module
            = yield

        %br(style="clear:both")

      %div#footer
