!!! 5
%html
  %head
    %title bangkok
    %link{ :rel => "stylesheet", :href => "/css/style.css", :type => "text/css" }
    %link{ :rel => "stylesheet", :href => "/css/facebox.css", :type => "text/css" }
    %script{ :type => "text/javascript", :src => "/js/jquery-1.4.2.min.js" }
    %script{ :type => "text/javascript", :src => "/js/facebox.js" }
    %script{ :type => "text/javascript" }
      jQuery(document).ready(function($) { $('a[rel*=facebox]').facebox() })
  %body.change-list
    %div#container
      %div#header
        %div#branding
          %h1#site-name bangkok db
          %h2 dynamic management for your db
          %div#user-tools
      %div.breadcrumbs
        %a(href="/db") Database List
        - if @db
          &rsaquo;
          = @db.opts[:database]
        - if @table
          &rsaquo;
          %a(href="#{@table.db_url}")
            = @table.db.opts[:database]
          &rsaquo;
          = @table
          - if @table.view == 'schema'
            &rsaquo;
            schema view
          - if @table.view == 'content'
            &rsaquo;
            content view
          
      - if @table
        %ul.object-tools
          %li
            - if @table.view == 'content'
              %a(href="#{@table.schema_url}" class="viewsitelink")
                schema view
            - if @table.view == 'schema'
              %a(href="#{@table.content_url}" class="viewsitelink")
                content view
      %br(style="clear:both")
      %div#content
        %div#content-main
          %div#changelist.module
            = yield

        %br(style="clear:both")

      %div#footer
