%div#object-form
  %form(method="post" action="")
    - @object.each do |column|
      - @table.schema.each do |schema|
        %div.form-row
          %label= schema.first.to_s.capitalize
          - if schema.last[:db_type] == 'longtext'
            %textarea(name="#{schema.first}")
              #{column[schema.first]}
          - elsif schema.last[:type] == :boolean
            - if column[schema.first] == true
              %input(type="checkbox" name="#{schema.first}" value="#{column[schema.first]}" checked)
            - else
              %input(type="checkbox" name="#{schema.first}" value="#{column[schema.first]}")
          - else
            %input(type="text" style="width:40%" name="#{schema.first}" value="#{column[schema.first].to_s}")
%div
  %input(type="submit" value="Submit")              