%table#main.zebra
  %thead
    %tr
      - @schema_list.each do |header|
        %td
          %a( href='#{@path}?o=#{header.first}')
            #{header.first.to_s.gsub('_',' ').capitalize}
      %td
        Admin

  %tbody
    - @row_list.each do |row|
      %tr
        - @schema_list.each do |schema|
          %td
            -# Use facebox for longtext fields
            - if schema.last[:db_type] == 'longtext'
              %a(href="#info#{row.object_id}#{schema.object_id}" rel="facebox") Display field
              %div(id="info#{row.object_id}#{schema.object_id}" class="hidden")
                %textarea{ :style => "width:40em; height: 20em;" }
                  #{row[schema.first]}
                
            - elsif schema.last[:type] == :boolean
              - if row[schema.first] == true
                %img{ :src => '/img/icon-yes.gif' }
              - else
                %img{ :src => '/img/icon-no.gif' }

            - else
              -# Show the actual data
              %a(href="#info#{row.object_id}#{schema.object_id}" rel="facebox") #{row[schema.first]}
              %div(id="info#{row.object_id}#{schema.object_id}" class="hidden")
                %h2= schema.first.to_s.capitalize
                %input(type="text" style="width:40em" value="#{row[schema.first]}")

        %td.text-right
          %a{ :href => '#' } edit
          |
          %a{ :href => '#' } delete
