%div.actions
  %form(method="get" action="" id="record-limit-form")
    %label Records: 
    %select#record-limit-select(name="l")
      %option(selected="" value="10") --------
      %option 10
      %option 25
      %option 100
      %option 500
      %option All
%script(type="text/javascript")
  $("#record-limit-select").change(function() { this.form.submit(); })

%table(cellspacing="0" class="zebra")
  %thead
    %tr
      %th
        %input(type="checkbox" id="action-toggle")
      - @table.schema.each do |header|
        - if @table.params_list['o'].to_s == header.first.to_s
          - if @table.params_list['ot'].to_s == 'd'
            %th.sorted.descending
              %a(href='#{@path}?o=#{header.first}&l=#{@table.params_list["l"]}&ot=a')= header.first.to_s
          - else
            %th.sorted.ascending
              %a(href='#{@path}?o=#{header.first}&l=#{@table.params_list["l"]}&ot=d')= header.first.to_s
        - else
          %th
            %a(href='#{@path}?o=#{header.first}&l=#{@table.params_list["l"]}')= header.first.to_s
  %tbody
    - @table.row_list.each do |row|
      %tr
        %td
          %input(type="checkbox" class="action-select" value="45" name="_selected_action")/

        - @table.schema.each do |schema|
          %td
            -# Use facebox for longtext fields
            - if schema.last[:db_type] == 'longtext'
              [ 
              %a(href="#info#{row.object_id}#{schema.object_id}" rel="facebox") Show field
              ]
              %div(id="info#{row.object_id}#{schema.object_id}" style="display:none")
                %div{ :style => "width:60em; height: 30em; white-space: normal;font-family:courier; overflow:auto" }
                  :escaped 
                    #{row[schema.first]}
            - elsif row[schema.first].to_s.length > 100
              [ 
              %a(href="#info#{row.object_id}#{schema.object_id}" rel="facebox") Show field
              ]
              %div(id="info#{row.object_id}#{schema.object_id}" style="display:none")
                %div{ :style => "width:60em; height: 30em; white-space: normal;font-family:courier; overflow:auto" }
                  :escaped 
                    #{row[schema.first]}

            - elsif schema.last[:type] == :boolean
              - if row[schema.first] == true
                %img{ :src => '/img/icon-yes.gif' }
              - else
                %img{ :src => '/img/icon-no.gif' }

            - else
              #{row[schema.first]}
